# LLM config - ollama
OLLAMA_MODEL='gpt-oss:20b'

# LLM config - deepseek
DEEPSEEK_API_KEY=
DEEPSEEK_MODEL='deepseek-chat'

# LLM config - Yandex
YANDEX_API_KEY=
YANDEX_FOLDER_ID=
YANDEX_MODEL='yandexgpt'

PYTHONPATH=./