# Common
click
pandas
openpyxl
sqlalchemy
psycopg2-binary

# Streamlit
streamlit

# Yandex GPT
yandex-ai-studio-sdk[langchain]

# Langchain / Langgraph
langgraph
langchain_core
langchain-ollama
langchain-deepseek
langchain-community
langchain_experimental

# Pydantic AI
pydantic-ai-slim[openai,logfire,cli,mcp]
# database-pydantic-ai
# database-pydantic-ai @ git+https://github.com/skolchin/database-pydantic-ai.git

# BSL
# boring-semantic-layer[agent] @ git+https://github.com/skolchin/boring-semantic-layer.git